UdemyMicroservices/Services/Catalog/bin
UdemyMicroservices/Services/Catalog/obj
UdemyMicroservices/Shared/FreeCourse.Shared/bin
UdemyMicroservices/Shared/FreeCourse.Shared/obj

UdemyMicroservices/Services/Catalog/FreeCourse.Services.Catalog/bin
UdemyMicroservices/Services/Catalog/FreeCourse.Services.Catalog/obj