
<tr>
    <td style="padding-top: 0;">
        <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner" style="border-bottom: 1px solid #bbbbbb; margin-top: -5px;">
            <tbody>
                <tr>
                    <td rowspan="5" style="width: 55%;"></td>
                    <td style="font-size: 14px; line-height: 18px; color: #666666;">
                        Sub-Total:
                    </td>
                    <td style="font-size: 14px; line-height: 18px; color: #666666; width: 130px; text-align: right;">
                        ${{TotalPrice}}
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 14px; line-height: 18px; color: #666666; padding-bottom: 10px; border-bottom: 1px solid #eeeeee;">
                        Shipping Fee:
                    </td>
                    <td style="font-size: 14px; line-height: 18px; color: #666666; padding-bottom: 10px; border-bottom: 1px solid #eeeeee; text-align: right;">
                        $10.20
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 14px; font-weight: bold; line-height: 18px; color: #666666; padding-top: 10px;">
                        Order Total
                    </td>
                    <td style="font-size: 14px; font-weight: bold; line-height: 18px; color: #666666; padding-top: 10px; text-align: right;">
                        ${{TotalPrice}}
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 14px; font-weight: bold; line-height: 18px; color: #666666;">
                        Payment Term:
                    </td>
                    <td style="font-size: 14px; font-weight: bold; line-height: 18px; color: #666666; text-align: right;">
                        100%
                    </td>
                </tr>
                <tr>
                    <td style="font-size: 14px; font-weight: bold; line-height: 18px; color: #666666; padding-bottom: 10px;">
                        Deposit Amount
                    </td>
                    <td style="font-size: 14px; font-weight: bold; line-height: 18px; color: #666666; text-align: right; padding-bottom: 10px;">
                        ${{TotalPrice}}
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>
<tr>
    <td style="padding: 0 10px;">
        <table width="560" align="center" cellpadding="0" cellspacing="0" border="0" class="devicewidthinner">
            <tbody>
                <tr>
                    <td colspan="2" style="font-size: 16px; font-weight: bold; color: #666666; padding-bottom: 5px;">
                        Payment Method (Card Info)
                    </td>
                </tr>
                <tr>
                    <td style="width: 55%; font-size: 14px; line-height: 18px; color: #666666;">
                        Card Name : {{CardName}}
                    </td>
                    <td style="width: 45%; font-size: 14px; line-height: 18px; color: #666666;">
                        Card Number : {{CardNumber}}
                    </td>
                </tr>
                <tr>
                    <td style="width: 55%; font-size: 14px; line-height: 18px; color: #666666;">
                        Expiration : {{Expiration}}
                    </td>
                    <td style="width: 45%; font-size: 14px; line-height: 18px; color: #666666;">
                        CVV : {{CVV}}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width: 100%; text-align: center; font-style: italic; font-size: 13px; font-weight: 600; color: #666666; padding: 15px 0; border-top: 1px solid #eeeeee;">
                        <b style="font-size: 14px;">Note:</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr></tbody> </table></td></tr> </tbody></table></body></html>